# Игнорировать все в корне
/*

# Не игнорировать файл .gitignore
!.gitignore

# Не игнорировать папку 00_Data
!/00_Data/

# Но игнорировать всё внутри 00_Data
/00_Data/*

# Кроме папки 01_Shared
!/00_Data/01_Shared/

/.trash/
/.obsidian/